*.o
lab03/res/
lab04/res/
lab03/flooding-data/data/

lab02/crack
lab06/tcpserver
decode
encode
tcpclient
map.h
hops.h
*.cnet
*.aux
*.log
*.pdf
*.dvi
data/
_minted*
*.tar.gz
*.zip

*.iml
.idea/
.gradle/
*.class
build/
